<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
    <properties resource="db.properties"></properties>
    <typeAliases>
       <typeAlias type="com.ciwi.vo.MemberVO" alias="MemberVO"/>
       <typeAlias type="com.ciwi.vo.ShowVO" alias="ShowVO"/>
       <typeAlias type="com.ciwi.vo.FestivalVO" alias="FestivalVO"/>
       <typeAlias type="com.ciwi.vo.AreaVO" alias="AreaVO"/>
       <typeAlias type="com.ciwi.vo.CIWICategoryVO" alias="CIWICategoryVO"/>
       <typeAlias type="com.ciwi.vo.ShowGenreVO" alias="ShowGenreVO"/>
       <typeAlias type="com.ciwi.vo.MovieGenreVO" alias="MovieGenreVO"/>
       <typeAlias type="com.ciwi.vo.FestivalGenreVO" alias="FestivalGenreVO"/>
        <typeAlias type="com.ciwi.vo.MemberVO" alias="MemberVO"/>
       <typeAlias type="com.ciwi.vo.MovieVO" alias="MovieVO"/>
       <typeAlias type="com.ciwi.vo.FreeBoardVO" alias="FreeBoardVO"/>
       <typeAlias type="com.ciwi.vo.FreeReplyVO" alias="FreeReplyVO"/>
       <typeAlias type="com.ciwi.vo.TheaterVO" alias="TheaterVO"/>
       <typeAlias type="com.ciwi.vo.DateInfoVO" alias="DateInfoVO"/>
       <typeAlias type="com.ciwi.vo.TimeInfoVO" alias="TimeInfoVO"/>
       <typeAlias type="com.ciwi.vo.QNABoardVO" alias="QNABoardVO"/>
       <typeAlias type="com.ciwi.vo.JjimVO" alias="JjimVO"/>
       <typeAlias type="com.ciwi.vo.ReviewVO" alias="ReviewVO"/>
        <typeAlias type="com.ciwi.vo.NoticeBoardVO" alias="NoticeBoardVO"/>
        <typeAlias type="com.ciwi.vo.CashVO" alias="CashVO"/>
       
       <!-- <typeAlias type="com.sist.vo.FestivalVO" alias="FestivalVO"/> -->
    </typeAliases>
    <environments default="development">
       <environment id="development">
          <transactionManager type="JDBC"></transactionManager>
          <dataSource type="POOLED">
             <property name="driver" value="${driver}"/>
             <property name="url" value="${url}"/>
             <property name="username" value="${user}"/>
             <property name="password" value="${password}"/>
             <!-- Connection 최대 : 8 -->
          </dataSource>
       </environment>
    </environments>
    <mappers>
       <mapper resource="com/ciwi/mapper/member-mapper.xml"/>
       <mapper resource="com/ciwi/mapper/show-mapper.xml"/>
       <mapper resource="com/ciwi/mapper/festival-mapper.xml"/>
       <mapper resource="com/ciwi/mapper/movie-mapper.xml"/>
       <mapper resource="com/ciwi/mapper/freeboard-mapper.xml"/>
       <mapper resource="com/ciwi/mapper/qnaboard-mapper.xml"/>
       <mapper resource="com/ciwi/mapper/jjim-mapper.xml"/>
       <mapper resource="com/ciwi/mapper/review-mapper.xml"/>
       <mapper resource="com/ciwi/mapper/mypage-mapper.xml"/>
       <mapper resource="com/ciwi/mapper/noticeboard-mapper.xml"/>
       <!-- <mapper resource="com/sist/mapper/festival-mapper.xml"/> -->
    </mappers>
 </configuration>