<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciwi.mapper.curmovie-mapper">
	<insert id="curmovieDataInsert" parameterType="MovieVO">
		<!-- {} = get메소드 -->
		Insert Into currentmovie Values(
		#{mno},
		#{title},
		#{director},
		#{actor},
		#{poster},
		#{regdate},
		#{genre},
		#{grade},
		#{story},
		#{category_no},
		#{score},
		#{theater_no}
		)
	</insert>
</mapper>