<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciwi.mapper.festival-mapper">
	<resultMap type="FestivalVO" id="FestivalMap">
		<result property="fno" column="fno" />
		<result property="place" column="place" />
		<result property="subject" column="subject" />
		<result property="poster" column="poster" />
		<result property="fdate" column="fdate" />
		<result property="host" column="host" />
		<result property="homepage" column="homepage" />
		<result property="tel" column="tel" />
		<result property="showtime" column="showtime" />
		<result property="flike" column="flike" />
		<result property="festival_no" column="festival_no" />
		<result property="category_no" column="category_no" />
		<result property="area_no" column="area_no" />
		<result property="fgvo.festival_genre" column="festival_genre" />
		<result property="ccvo.category_name" column="category_name" />
		<result property="avo.area_name" column="area_name" />
	</resultMap>
	<select id="festivalAllCount" resultType="int">
		Select Count(*) From festival
	</select>
	<sql id="festivalSearchSql">
	 (SELECT fno,subject,poster,fdate,fg.festival_genre as festival_genre,
		c.category_name as category_name, a.area_name as area_name,rownum as num
		FROM
		festival f, category c, area a,festival_genre fg
		WHERE f.festival_no =
		fg.festival_no
		AND f.category_no = c.category_no
		AND f.area_no =
		a.area_no
		<if test='searchOption.equals("제목") and search!=null  and !search.equals("")'>
			AND regexp_like(subject,#{search})
		</if>
		<if test='searchOption.equals("내용") and search!=null  and !search.equals("")'>
			AND regexp_like(content,#{search})
		</if>
		<if test='festival_area!=null and !festival_area.equals("")'>
			AND area_name = #{festival_area}
		</if>
		<if test='festival_genre!=null and !festival_genre.equals("") '>
			AND show_genre = #{festival_genre}
		</if>
		ORDER BY fno ASC)
	</sql>
	<insert id="festivalDataInsert" parameterType="FestivalVO">
		<!-- {} = get메소드 -->
		Insert Into festival Values(
		#{fno},
		#{subject},
		#{fdate},
		#{poster},
		#{place},
		#{showtime},
		#{tel},
		#{host},
		#{homepage},
		#{address},
		#{flike},
		#{festival_no},
		#{category_no},
		#{area_no}
		)
	</insert>
	<select id="festivalMainList" resultType="FestivalVO">
		Select *
		From Festival
	</select>
	<select id="festivalPageListData" resultType="FestivalVO"
		parameterType="hashMap">
		SELECT fno, poster,subject, host, fdate, place,num
		FROM (SELECT fno, poster,subject, host, fdate, place,rownum as num 
        FROM (SELECT fno, poster,subject, host, fdate, place FROM
		festival
        ORDER BY fno ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="festivalTotalPage" resultType="int" parameterType="int">
		SELECT CEIL(COUNT(*)/#{rowSize}) FROM festival
	</select>
	<select id="festivalDetail" resultType="FestivalVO"
		parameterType="int">
		Select *
		From festival
		Where fno=#{fno}
	</select>

	<select id="festivalSearch" resultMap="FestivalMap"
		parameterType="java.util.Map">
		SELECT fno,subject,poster,fdate,festival_genre,
		category_name,area_name,num
        FROM <include refid="festivalSearchSql"/>
        WHERE num BETWEEN 1 AND 20
        ORDER BY NUM ASC
	</select>
		<select id="festivalSearch8" resultMap="FestivalMap"
		parameterType="java.util.Map">
		SELECT fno,subject,poster,fdate,festival_genre,
		category_name,area_name,num
        FROM <include refid="festivalSearchSql"/>
        WHERE num BETWEEN 1 AND 20
        ORDER BY NUM ASC
	</select>
		<select id="festivalSearch20" resultMap="FestivalMap"
		parameterType="java.util.Map">
		SELECT fno,subject,poster,fdate,festival_genre,
		category_name,area_name,num
        FROM <include refid="festivalSearchSql"/>
        WHERE num BETWEEN 1 AND 20
        ORDER BY NUM ASC
	</select>
	
	<select id="festivalRecommendSingleGenre" resultType="FestivalVO"
		parameterType="int">
		SELECT fno, poster,
		subject, host, fdate, place
		FROM
		festival
		WHERE festival_no = #{genre}
	</select>
	<select id="festivalRecommendMultiGenre" resultType="FestivalVO"
		parameterType="java.util.Map">
		SELECT fno, poster,
		subject, host, fdate, place
		FROM
		festival
		WHERE festival_no = #{first}
		OR festival_no = #{last}
	</select>
</mapper>