<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciwi.mapper.member-mapper">
	<!-- login -->
	<!-- 1. 아이디 존재여부 확인 -->
	<select id="memberIdCount" resultType="int" parameterType="String">
		Select COUNT(*)
		From member
		Where id=#{id}
	</select>
	<!-- 2. 비밀번호 확인 -->
	<select id="memberGetPwd" resultType="MemberVO" parameterType="String">
		Select pwd,name,admin
		From member
		Where id=#{id}
	</select>
</mapper>