<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciwi.mapper.curmovie-mapper">
	<insert id="movieDataInsert" parameterType="MovieVO">
		<!-- {} = get메소드 -->
		Insert Into movie Values(
		#{mno},
		#{title},
		#{director},
		#{actor},
		#{poster},
		#{regdate},
		#{genre},
		#{grade},
		#{story},
		#{category_no},
		#{score},
		#{theater_no}
		)
	</insert>
	<!-- 극장정보 삽입 -->
	<insert id="theaterDataInsert" parameterType="TheaterVO">
		Insert Into theater Values(
		#{theater_no},
		#{theater_name},
		#{theater_total_seat},
		#{theater_loc}
		)
	</insert>
	<!-- 극장별 총 좌석 수 난수 발생 및 삽입 -->
	<update id="totalSeatUpdate" parameterType="TheaterVO">
		Update theater Set
		theater_total_seat=#{theater_total_seat}
		Where theater_no=#{theater_no}
	</update>
	<select id="movieSearch" parameterType="java.util.Map" resultType="MovieVO" >
	SELECT mno,title,director,actor,poster,regdate,story,genre,category_no,score,grade,num
	FROM (SELECT mno,title,director,actor,poster,regdate,story,genre,category_no,score,grade,rownum as num FROM movie ORDER BY regdate)
  <trim prefix="WHERE" prefixOverrides="AND|OR">
	<if test='moiveGenre !=null and !movieGenre.equals("")'>
	AND REGEXP_LIKE(genre,#{movieGenre})
	</if>
      <if test='searchOption.equals("제목") 	and text!=null  and !text.equals("")'>
 	AND REGEXP_LIKE(title,#{text})
	</if>
     <if test='searchOption.equals("배우") and text!=null  and !text.equals("")'>
	AND REGEXP_LIKE(actor,#{text})
	</if>
	 <if test='searchOption.equals("감독") and text!=null  and !text.equals("")'>
	AND REGEXP_LIKE(director,#{text})
	</if>
	<if test="isOnScreen==0"> <!-- 바꾸던가 해야할듯? -->
	AND category_no = 2
	</if>
	<if test="isOnScreen==1">
	AND category_no = 3
	</if>
	</trim>
	ORDER BY num    
	</select>
</mapper>