<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciwi.mapper.curmovie-mapper">
	<insert id="movieDataInsert" parameterType="MovieVO">
		<!-- {} = get메소드 -->
		Insert Into movie Values(
		#{mno},
		#{title},
		#{director},
		#{actor},
		#{poster},
		#{regdate},
		#{genre},
		#{grade},
		#{story},
		#{category_no},
		#{score},
		#{theater_no}
		)
	</insert>
	<!-- 극장정보 삽입 -->
	<insert id="theaterDataInsert" parameterType="TheaterVO">
		Insert Into theater Values(
		#{theater_no},
		#{theater_name},
		#{theater_total_seat},
		#{theater_loc}
		)
	</insert>
	<!-- 극장별 총 좌석 수 난수 발생 및 삽입 -->
	<update id="totalSeatUpdate" parameterType="TheaterVO">
		Update theater Set
		theater_total_seat=#{theater_total_seat}
		Where theater_no=#{theater_no}
	</update>
	
	<!-- 날짜  -->
	<insert id="dateInsert" parameterType="DateInfoVO">
		Insert Into dateInfo Values(
			#{date_no},
			#{time_no}
		)
	</insert>
	<!-- 해당 영화에 대한 극장별 상영일 난수 발생 및 삽입 -->
	<insert id="theaterDateUpdate" parameterType="TheaterVO">
		Update theater Set
		date_no=#{date_no}
		Where theater_no=#{theater_no}
	</insert>
	
	<select id="movieSearch" parameterType="java.util.Map" resultType="MovieVO" >
	SELECT mno,title,director,actor,poster,regdate,story,genre,category_no,score,grade,num
	FROM (SELECT mno,title,director,actor,poster,regdate,story,genre,category_no,score,grade,rownum as num FROM movie ORDER BY regdate)
  <trim prefix="WHERE" prefixOverrides="AND|OR">
	<if test='moiveGenre !=null and !movieGenre.equals("")'>
	AND REGEXP_LIKE(genre,#{movieGenre})
	</if>
      <if test='searchOption.equals("제목") 	and text!=null  and !text.equals("")'>
 	AND REGEXP_LIKE(title,#{text})
	</if>
     <if test='searchOption.equals("배우") and text!=null  and !text.equals("")'>
	AND REGEXP_LIKE(actor,#{text})
	</if>
	 <if test='searchOption.equals("감독") and text!=null  and !text.equals("")'>
	AND REGEXP_LIKE(director,#{text})
	</if>
	<if test="isOnScreen==0"> <!-- 바꾸던가 해야할듯? -->
	AND category_no = 2
	</if>
	<if test="isOnScreen==1">
	AND category_no = 3
	</if>
	</trim>
	ORDER BY num
	</select>
	
	<!-- 예약 -->
	<!-- 현재 예약 가능한 영화 목록 출력 -->
	<select id="movieListData" resultType="MovieVO">
		Select *
		From movie
		Where category_no=2
		And mno Between 1 And 10
	</select>
	<!-- 선택한 영화를 제공하는 상영관 목록 출력 -->
	<select id="theaterData" resultType="TheaterVO" parameterType="int">
		Select theater_no,theater_name,theater_loc,date_no
		From theater
		Where theater_no=#{theater_no}
	</select>
	<!-- 시간정보 불러오기 -->
	<select id="reserveGetTime" resultType="String" parameterType="int">
		Select time_no
		From dateInfo
		Where date_no=#{date_no}
	</select>
	<select id="timeData" resultType="String" parameterType="int">
		Select time
		From timeInfo
		Where time_no=#{time_no}
	</select>
	<!-- 상영관 별 전체 좌석 가져오기 -->
	<select id="totalSeat" resultType="int" parameterType="int">
		Select theater_total_seat
		From theater
		Where theater_no=#{theater_no};
		<!-- 영화 추천  -->
	</select>
		<select id="movieRecommendSingleGenre" resultType="MovieVO"
		parameterType="int">
		SELECT DISTINCT mno, title,
		director, actor, poster, regdate,genre,grade,story,category_no,score,theater_no
		FROM movie
		WHERE REGEXP_LIKE(genre,(SELECT movie_genre FROM movie_genre WHERE movie_no = #{genre))
	</select>
	<!-- 장르 여러개 영화 추천 -->
	<select id="movieRecommendMultiGenre" resultType="MovieVO"
		parameterType="java.util.Map">
		SELECT DISTINCT mno, title,
		director, actor, poster, regdate,genre,grade,story,category_no,score,theater_no
		FROM movie
		WHERE REGEXP_LIKE(genre,(SELECT movie_genre FROM movie_genre WHERE movie_no = #{first})) OR
		REGEXP_LIKE(genre,(SELECT movie_genre FROM movie_genre WHERE movie_no = #{last}))
	</select>
	<!-- 출력 -->
 
		<select id="getMovieGenreName" resultType="MovieGenreVO">
		SELECT * FROM movie_genre
	</select>
	<!-- 페이지수 구하기 -->
		<select id="movieTotalPage" resultType="int" parameterType="int">
		SELECT CEIL(COUNT(*)/#{rowSize}) FROM movie
	</select>
		<select id="movieDetailData" resultType="movieVO" parameterType="int">
		SELECT * FROM movie
		WHERE mno=#{mno}
	</select>
			<select id="moviePageListData" resultType="MovieVO"
		parameterType="hashMap">
        SELECT mno, title, director, actor, poster, regdate, genre, grade, story, category_no, score, theater_no,num
		FROM (SELECT mno, title, director, actor, poster, regdate, genre, grade, story, category_no, score, theater_no,rownum as num FROM
		(SELECT mno, title, director, actor, poster, regdate, genre, grade, story, category_no, score, theater_no FROM
		movie
		ORDER BY mno ASC
		))
		WHERE num BETWEEN #{start} AND #{end}
		</select>
</mapper>