<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciwi.mapper.qnaboard-mapper">
		<select id="noticeboardListData" resultType="NoticeBoardVO" parameterType="java.util.Map">
		SELECT no,subject,id,dbday,hit,num
		FROM (SELECT no,subject,id,TO_CHAR(regdate,'YYYY-MM-DD')as dbday,hit,rownum as num 
		FROM (SELECT no,subject,id,regdate,hit
		FROM noticeboard ORDER BY no desc))
		WHERE num BETWEEN #{start} AND #{end}
	    ORDER BY no desc
	</select>
	<!-- 총페이지 -->
 	<select id="noticeboardTotalPage" resultType="int">
 		SELECT CEIL(count(*)/5.0) FROM noticeboard
 	</select>
 	
 	<!-- 게시물번호 처리-->
 	<select id="noticeboardRowCount" resultType="int">
 		SELECT count(*) FROM noticeboard
 	</select>
	<!-- 게시글 추가 -->
	<insert id="noticeboardInsert" parameterType="NoticeBoardVO">
		INSERT INTO noticeboard(no,id,subject,content,hit) VALUES(
			noticeboard_no_seq.nextval,
			#{id},
			#{subject},
			#{content},
			0
		)
	</insert>
	 	 <!-- 상세보기 -->
 	<update id="nhitIncrement" parameterType="int">
 		UPDATE noticeboard SET
 		hit = hit+1
 		WHERE no =#{no}
 	</update>
 	<select id="noticeboardDetailData" resultType="NoticeBoardVO" parameterType="int">
	    SELECT no,id,subject,content,TO_CHAR(regdate,'RRRR-MM-DD') as dbday, hit
	    FROM noticeboard 
	    WHERE no=#{no}
 	</select>
 	 	<!-- 수정하기 -->
 	<update id="noticeboardUpdate" parameterType="NoticeBoardVO">
 		UPDATE noticeboard SET
 		subject=#{subject},content=#{content}
 		WHERE no=#{no}
 	</update>
 	  <!-- 게시물 삭제 -->
    <delete id="noticeboardDelete" parameterType="int">
   		DELETE FROM noticeboard
   		WHERE no=#{no}
    </delete>
</mapper>















