<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.show-mapper">
	<resultMap type="ShowVO" id="ShowMap">
		<result property="sno" column="sno" />
		<result property="subject" column="subject" />
		<result property="sdate" column="sdate" />
		<result property="poster" column="poster" />
		<result property="starttime" column="starttime" />
		<result property="price" column="price" />
		<result property="place" column="place" />
		<result property="showtime" column="showtime" />
		<result property="tel" column="tel" />
		<result property="host" column="host" />
		<result property="age" column="age" />
		<result property="homepage" column="homepage" />
		<result property="source" column="source" />
		<result property="address" column="address" />
		<result property="slike" column="slike" />
		<result property="genre_no" column="genre_no" />
		<result property="category_no" column="category_no" />
		<result property="area_no" column="area_no" />
		<result property="scvo.show_genre" column="show_genre" />
		<result property="ccvo.category_name" column="category_name" />
		<result property="avo.area_name" column="area_name" />
	</resultMap>
	<sql id="showSearchSql">
		 (
		SELECT sno,subject,poster,sdate,sg.show_genre as show_genre,
		c.category_name as category_name, a.area_name as area_name,rownum as num
		FROM show s,
		category c, area a,show_genre sg
		WHERE s.genre_no = sg.show_no
		AND
		s.category_no = c.category_no
		AND s.area_no = a.area_no

		<if test='searchOption.equals("제목")'>
			<if test='search!=null  and !search.equals("")'>
				AND regexp_like(subject,#{search})
			</if>
		</if>
		<if test='searchOption.equals("내용")'>
			<if test='search!=null  and !search.equals("")'>
				AND regexp_like(content,#{search})
			</if>
		</if>
		<if test='area!=null and !area.equals("전체") and !area.equals("")'>
			AND s.area_no = #{area}
		</if>
		<if
			test='show_genre!=null and !show_genre.equals("전체") and  !show_genre.equals("") '>
			AND s.genre_no = #{show_genre}
		</if>
		ORDER BY sno asc)
	</sql>
	<!-- 전체 리스트 -->
	<select id="showAllData" resultType="ShowVO">
		SELECT * FROM show
	</select>

	<!-- 상세보기 -->
	<select id="showDetailData" resultType="ShowVO" parameterType="int">
		SELECT * FROM show
		WHERE sno=#{sno}
	</select>

	<!-- 추가 -->
	<insert id="showInsert" parameterType="ShowVO">
		INSERT INTO show
		VALUES
		(#{sno},#{subject},#{sdate},#{poster},#{starttime},#{price},#{place},#{showtime},#{tel},#{host},#{age},#{homepage},#{source},#{address},#{slike},#{genre_no},#{category_no},#{area_no})
	</insert>

	<!-- 검색조건에 따라서 검색 searchOption에 검색옵션을 적고 검색을 위한 text를 통해 검색 -->
	<select id="showSearch" parameterType="java.util.Map" resultMap="ShowMap">
		SELECT sno,subject,poster,sdate,show_genre, category_name,
		area_name,num
		FROM <include refid="showSearchSql"/>
		WHERE num BETWEEN 1 AND 12
		ORDER BY num ASC
	</select>
	<select id="showSearch8" parameterType="java.util.Map" resultMap="ShowMap">
		SELECT sno,subject,poster,sdate,show_genre, category_name,
		area_name,num
		FROM <include refid="showSearchSql"/>
		WHERE num BETWEEN 1 AND 8
		ORDER BY num ASC
	</select>
	<select id="showSearch20" parameterType="java.util.Map" resultMap="ShowMap">
		SELECT sno,subject,poster,sdate,show_genre, category_name,
		area_name,num
		FROM <include refid="showSearchSql"/>
		WHERE num BETWEEN 1 AND 20
		ORDER BY num ASC
	</select>
	<select id="getAreaName" resultType="AreaVO">
		SELECT * FROM area
	</select>

	<select id="getGenreName" resultType="ShowGenreVO">
		SELECT * FROM show_genre
	</select>
	<select id="showRecommendSingleGenre" resultType="ShowVO"
		parameterType="int">
		SELECT sno,subject,poster,sdate,show_genre, category_name,
		area_name
		FROM
		show
		WHERE show_genre = #{genre}
	</select>
	<select id="showRecommendMultiGenre" resultType="ShowVO"
		parameterType="java.util.Map">
		SELECT sno,subject,poster,sdate,show_genre, category_name,
		area_name
		FROM
		show
		WHERE show_genre = #{first}
		OR show_genre = #{last}
	</select>
	<select id="showTotalPage" resultType="int" parameterType="int">
		SELECT CEIL(COUNT(*)/#{rowSize}) FROM show
	</select>
			<select id="showPageListData" resultType="ShowVO"
		parameterType="hashMap">
		SELECT sno,subject,sdate,poster,starttime,price,place,showtime,tel,host,age,homepage,source,address,slike,genre_no,category_no,area_no,num
		FROM (SELECT sno,subject,sdate,poster,starttime,price,place,showtime,tel,host,age,homepage,source,address,slike,genre_no,category_no,area_no,rownum as num FROM
		show)
		WHERE num BETWEEN #{start} AND #{end}
	</select>
</mapper>